body{

	font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	font-variant: normal;
  margin : 0;
  padding: 0;

}

.main-wrapper{
	margin: 15px auto;
}

.btn-group:nth-child(2n+1) {
  padding-right: 4px;
}

.btn-group:nth-child(2n) {
  padding-left: 4px;
}

.mb-10,
.progress{
	margin-bottom: 10px;
}

.alert{

	margin: 0;
	text-align: center;

}
